*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}
body{
    background-image: url("wall3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.nav-menu{
    justify-content: space-between;
    display: flex;
    
}
.nav-menu .magic-text{
    margin-left: 40px;
    font-size: 50px;
    font-weight: 600;
}
.navbar .info{
    color: rgb(249, 247, 247);
    margin-left: 30px;
}
.navbtn{
    display: flex;
    justify-content: end;
    align-items: end;
    
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu .nav-menu-links .navbtn{
    gap: 60px;
    list-style: none;
    font-weight: 100;
}
.nav-menu .nav-menu-links .navbtn .nav-item a{
    color: rgb(252, 249, 249);
    text-decoration: none;
    list-style: none;
    font-weight: 600;
}
.midpage{
    display: flex;
}
.paragraphs{
    width: 50%;
    padding: 60px;
}
.loginpage{
    width: 25%;
    padding: 20px;

    margin-left: 250px;
    height: 400px;
    background-color: white;

}
.loginpage .contact-form .form-input{
width: 100%;
height: 40px;
padding: 0 12px;
outline: none;
margin-bottom: 16px;
background-color: transparent;
border: none;
background-color: rgb(244, 244, 239);

}
.loginpage .contact-form .getBtn
{
    background-color: rgb(235, 34, 191);
    width: 100%;
    height: 40px;
    border: none;
    color: white;
}

.logo h2{
    color: white;
    text-decoration: none;
}
.logo a{
    text-decoration: none;
}
.paragraphs h1, h2{
    color: white;
}
.paragraphs .couple-text{
    color:  rgb(235, 34, 191);
    font-weight: 800;
    font-style: bold;
}
.paragraphs .best-text{
    color:rgb(244, 244, 246);
    font-weight: 600;
}
.paragraphs .para{
    color: white;
}

.paragraphs .readbtn{
    background-color:  rgb(235, 34, 191);
    padding: 5px;
    border-color: white;
    border-radius: 3px;
    width: 100px;
    color: white;
}

.nav-menu .nav-menu-links .navbtn .subscribe{
   color: aliceblue; 
   background-color:  rgb(235, 34, 191);
   padding: 10px;
   border: none;
}